<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <a href="https://expressjs.com/fr/guide/routing.html">A new way to do routes</a><br>
    <a href="https://www.npmjs.com/package/express-fileupload">Uploading files</a><br>
    <a href="http://handlebarsjs.com/builtin_helpers.html">Mustache most explicit</a><br>
    <a href="https://www.npmjs.com/package/image-to-base64">Image to base64</a><br>
    <a href="https://www.npmjs.com/package/request">Request API</a>
</div>